* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 251, 247);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 10fr;
}

aside{
    background-color: green;
}

main{
    padding: 3%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3%;
}


/* MAIN LEFT HAND SIDE */

#main-lhs{
    background-color: aqua;
    display: grid;
    /* justify-content: stretch; */
}

#search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 20px 0;
}
#search-box input{
    border: none;
    outline: none;
    width: 100%;
}

#books-box{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 300px;
    overflow-y: auto;
}

.cover img{
    width: 100px;
    height: 130px;
}

#book-stats{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#book-stats > div{
    display: flex;
}

/* MAIN RIGHT HAND SIDE */
#main-rhs{
    background-color: darkmagenta;
}